
<div class="container" style="display: block;">  
  <div class="row">   
    <div class="col-sm-4">     
      <div class="card collapse action" id="multiCollapseExample1">
        
        <div class="imgBox">
          <qr-code [value]="assetid"[size]="200" [level]="'L'" ></qr-code>
        </div>  
        <div class="contentBox">
          <h3></h3>
            <a [routerLink]="'/asset/'" class="buy">View Details</a>      
        </div>  
    </div>
    </div>
     <div class="col sm-4">      
        <table class="table table-striped"> 
           <thead> 
              <tr> 
                 <th>Support id</th> 
                 <th>Price</th> 
                 <th>Description</th> 
                 <th>Due Date</th> 
              </tr> 
           </thead> 
           <tbody> 
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
              <tr *ngFor="let entry of support"> 
                 <th scope="row"><a routerLink="../asset/{{ entry.supportid}}">{{ entry.supportid}}</a></th> 
                 <th>{{ entry.supportcost }}</th> 
                 <td>{{ entry.supportdesc }}</td> 
                 <td>{{ entry.nextinspection | date: 'short' }}</td> 
              </tr> 
           </tbody> 
        </table> 

        <table class="table table-striped" *ngFor="let entry  of support"> 
          <thead *ngIf="entry.problem"> 
             <tr> 
                <th>Problem</th> 
                <th>Problem Description</th> 
                <th>Status</th> 
                <th>Status Date</th> 
             </tr> 
          </thead> 
          <tbody *ngIf="entry.problem"> 
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
               <tr *ngFor="let ent of entry.problem">
                <th scope="row"><a routerLink="../asset/{{ ent.problemid}}">{{ ent.problemid}}</a></th> 
                <th>{{ ent.problemdesc }}</th> 
                <td>{{ ent.status }}</td> 
                <td>{{ ent.statusdate | date: 'short' }}</td> 
               </tr>
          </tbody> 
       </table> 
  </div>
  </div>
  </div>
  <div class="position-absolute bottom-0 end-0" style="margin-right: 10px; margin-bottom: 5px;">
  <button mat-fab color="primary" data-bs-toggle="collapse" data-bs-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample1" class="toggle">
    <i class="bi bi-qr-code" style="width: 1.5em;height: 1.5 em;"></i>
  </button>
</div>



