<div class="container-sm">
  <input  class="text-end" style="text-align: right;" type="date" style="width: 100%;" >
  <div class="row justify-content-md-center">
    <div class="col-md-auto"> 
      <ul class="list-group list-group-flush">
        <figure class="text-center" style="margin-bottom: 0px; margin-top: 10px;">
          <blockquote class="blockquote text-uppercase">
            <p>Raja Traders</p>
          </blockquote>
          <li class="list-group-item">3/43 R Main road , Periya Kadai veethi,Keelavalavu-625102</li>
        <li class="list-group-item">rajatradersklv@gmail.com</li>
        <li class="list-group-item">0452-2428205</li>
        <li class="list-group-item"> </li>
        </figure>
        
      </ul>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-4"> <ul class="list-group list-group-flush">
      <li class="list-group-item blockquote"><input  type="text" style="width: 100%;" placeholder="Challan No" value="Raja Mohammed"></li>
      <li class="list-group-item"><textarea value=""> 3/43 R Main road , Periya Kadai veethi,Keelavalavu-625102</textarea></li>
      <li class="list-group-item"><input type="email" value="rajatradersklv@gmail.com"/></li>
      <li class="list-group-item"><input type="tel" value="0452-2428205"/></li>
      <li class="list-group-item"> </li>
    </ul></div>
    <div class="col-4"> 
      <div class="vstack gap-3">
        <div class="text-end"><qr-code value="google.com" [size]="100" [level]="'M'" ></qr-code></div>
        <input  class="text-end" type="text" style="width: 100%;" placeholder="Challan No" >        
        <input  class="text-end" type="text" style="width: 100%;" placeholder="GSTIN"  value="33AFMPN99HL2ZX">
        <div>
      </div>
      </div>
    </div>
  </div>
 
 
<table class="table table-striped table-hover">
  <thead class="sticky-top table-dark">
    <tr>
      <th scope="col">#</th>
      <th class="wrap" style="align-self: stretch!important;">Description</th>
      <th class="wrap"style="align-self: stretch!important;">Quantity</th>
      <th class="wrap">Rate</th>
      <th st>Action</th>
    </tr>
  </thead>
  <tbody>   
    <tr *ngFor="let item of items; let row=index" >
      <th scope="row" >{{row+1}}</th>    
      <td class="wrap" ><input type="text" [(ngModel)]="item.desc" placeholder="description"/></td>

      <td class="wrap"><input type="text" [(ngModel)]="item.qty" placeholder="qty"/></td>
      <td class="wrap" ><input type="text" [(ngModel)]="item.rate" placeholder="rate"/></td>
      <td>
        <button mat-icon-button (click)="deleteItem(row)" ><mat-icon>delete </mat-icon> </button>
      </td>
    </tr>     
  </tbody> 
</table>
<button mat-icon-button (click)="addItem()" class="fixed-bottom"><mat-icon>add </mat-icon> </button>
</div>