<div class="container-sm">
  <form (ngSubmit)="onSubmit()">
  <input  class="text-end" style="text-align: right;" type="date" name="today" [(ngModel)]="today" style="width: 100%;" >
  
  <div class="row justify-content-md-center">
    <div class="col-md-auto"> 
      <ul class="list-group list-group-flush">
        <figure class="text-center" style="margin-bottom: 0px; margin-top: 10px;">
          <blockquote class="blockquote text-uppercase">
            <p>Raja Traders</p>
          </blockquote>
          <li class="list-group-item">3/43 R Main road , Periya Kadai veethi,Keelavalavu-625102</li>
        <li class="list-group-item">rajatradersklv@gmail.com</li>
        <li class="list-group-item">0452-2428205</li>
        <li class="list-group-item"> </li>
        </figure>        
      </ul>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-4"> <ul class="list-group list-group-flush">
      <li class="list-group-item"><input type="text" name="customer.name" [(ngModel)]="customer.name" value="Raja Mohammed"></li>
      <li class="list-group-item"><textarea matInput name="customer.address"  [(ngModel)]="customer.address" cdkTextareaAutosize>3/43 R Main road , Periya Kadai veethi,Keelavalavu-625102</textarea></li>
      <li class="list-group-item"><input type="email"name="customer.email"  [(ngModel)]="customer.email" value="rajatradersklv@gmail.com"/></li>
      <li class="list-group-item"><input type="tel" name="customer.phonenum"  [(ngModel)]="customer.phonenum"  value="0452-2428205"/></li>
      <li class="list-group-item"> </li>
    </ul>
  </div>

    <div class="col-4"> 
      <div class="vstack gap-3">
        <div class="text-end"><qr-code value="google.com" [size]="100" [level]="'M'" ></qr-code></div>
        <input  class="text-end" type="text" style="width: 100%;" name="customer.no"  [(ngModel)]="customer.no"  placeholder="Challan No" value="Challan No: " >        
        <input  class="text-end" type="text" style="width: 100%;" name="customer.gstin"  [(ngModel)]="customer.gstin"  placeholder="GSTIN"  value="GSTIN: 33AFMPN99HL2ZX">
        <div>
      </div>
      </div>
    </div>
  </div>

<table class="table table-striped table-hover">
  <thead class="sticky-top table-dark">
    <tr>
      <th scope="col">#</th>
      <th class="wrap" style="align-self: stretch!important;">Description</th>
      <th class="wrap" style="align-self: stretch!important;">Quantity</th>
      <th class="wrap" style="align-self: stretch!important;">Cost</th>
      <th class="wrap" style="align-self: stretch!important;">Item Cost</th>
     
      <th class="d-print-none">Action</th>
    </tr>
  </thead>
  <tbody>   
    <tr *ngFor="let item of items; let row=index" id="data" >
      <th scope="row" >{{row+1}}</th>    
      <td class="wrap" ><input type="text" name="item.desc_{{row}}" [(ngModel)]="item.desc" placeholder="Add your item.."/></td>
      <td class="wrap"><input type="number"name="item.qty_{{row}}" (keyup.enter)="saveItem(row)" (blur)="saveItem(row)" [(ngModel)]="item.qty"/></td>
      <td class="wrap" ><input type="number" name="item.rate_{{row}}" (keyup.enter)="saveItem(row)" (blur)="saveItem(row)" [(ngModel)]="item.rate"/></td>
      <td class="wrap" >{{item.cost}}</td>
      <td classs="d-print-none">
        <button type="button" mat-icon-button (click)="deleteItem(row)"class="d-print-none" ><mat-icon>delete </mat-icon> </button>
      </td>
    </tr>   
  </tbody> 
  <tfoot class="sticky-top">
    <tr class="foo">
      <th scope="row"></th>
      <td class="wrap">Total Quantity</td>
      <td class="wrap">{{getQuantity()}}</td>
      <td class="wrap">Sub Total</td>
      <td class="wrap">{{ getCost()}}</td>
      <td class="wrap"> </td>
    </tr>
    <tr>
      <th scope="row">
        <button type="button" mat-icon-button (click)="addItem()" class="fixed-bottom d-print-none"><mat-icon>add </mat-icon> </button>
      </th>
      <td class="wrap">GST</td>
      <td class="wrap"><input type="number" name="gst" [(ngModel)]="itemcost.gst" value=28/></td>
      <td class="wrap">Total</td>
      <td class="wrap">{{this.itemcost.total}}</td>
      <td class="wrap"> </td>
    </tr>
  </tfoot>
</table>
<div class="card" style="width: 25rem; margin-bottom: 20px;">
  <div class="card-header">
    Transport Information
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><textarea style="width: 100%;" matInput cdkTextareaAutosize>Site Details....</textarea></li>
    <li class="list-group-item"><input style="width: 100%;"  type="text"  placeholder="Add your Vehicle Details.."/></li>
  </ul>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form> 
<div class="btn-toolbar justify-content-between d-print-none" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group me-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-outline-secondary">Qty</button>
    <button type="button" class="btn btn-outline-secondary">{{this.itemcost.qty}}</button>
  </div>
  <div class="btn-group" role="group" aria-label="Third group">
    <button type="button" class="btn btn-outline-secondary">Tax</button>
    <button type="button" class="btn btn-outline-secondary">{{this.itemcost.tax}}</button>
  </div>
  <div class="btn-group me-2" role="group" aria-label="Second group">
    <button type="button" class="btn btn-outline-secondary">Total</button>
    <button type="button" class="btn btn-outline-secondary">{{this.itemcost.total}}</button>
  </div> 
  <div class="position-relative">
  <div class="position-absolute bottom-0 end-0 " style="margin-right: 10px; margin-bottom: 45px;">
    <button (click)="printCall()" mat-fab color="primary" class="d-print-none">
      <mat-icon>print</mat-icon>
    </button>
  </div>
</div>
</div>
</div>
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-text">
      For Raja Traders
    </span>
  </div>
</nav>



